<ion-view view-title="Mi Perfil" hide-back-button="false">
  <div class="bar-header actionbar">
   <header class="header agroinsumos">
      <a href="#/home" class="anchor">
        <span class="anchor__left icon-left_line"></span>Regresar
      </a>
      <h1 class="title_perfil">Mi Perfil</h1>
    </header>
  </div>
  <ion-content class="gris">

  <div class="cabecera" align="center">
      <img src="img/perfil.png" height="32" width="32">
      <label class="text_img">Añadir imagen de perfil</label>
  </div>

    <form >
      <div class="list">
      
        <h3 class="inf_ca">Informacion</h3>
<!-- Nombre-->
        <p class="block__content__cont-tag ubuntu medium">
            Nombre:
        </p>
        <div class="form_login ">
            <label class="item item-input input_login">

                <input type="text" placeholder="Ingrese su nombre completo">

            </label>
        </div>
<!-- correo -->
        <p class="block__content__cont-tag ubuntu medium">
            Correo electronico:
        </p>
        <div class="form_login ">
            <label class="item item-input input_login">

                <input type="email" placeholder="email@correo.com">

            </label>
        </div>
<!-- documento de identidad -->
        <p class="block__content__cont-tag ubuntu medium">
            Documento de identidad:
        </p>
        <div class="form_login ">
            <label class="item item-input input_login">

                <input type="number" placeholder="C.C 000000000000">

            </label>
        </div>

        <h3 class="inf_ca">Informacion personal</h3>
<!-- nivel educativo -->
      
      <p class="block__content__cont-tag ubuntu medium">
            Nivel educativo:
        </p>
        <div class="forms_select">
            <div class="select">
              <span class="icon-down_line"></span>
              <select class="" name="" id="">
                <option value="option">Seleccione su nivel educativo</option>
                <option value="option">Primaria</option>
                <option value="option">Secundaria</option>
              </select>
            </div>
        </div>
<!-- lugar de residencia -->
      <p class="block__content__cont-tag ubuntu medium">
            Lugar de residencia:
        </p>
        <div class="form_login ">
            <label class="item item-input input_login">

                <input type="text" placeholder=" ">

            </label>
        </div>
<!-- genero -->
      <p class="block__content__cont-tag ubuntu medium">
            Género:
        </p>
        <div class="forms_select">
            <div class="select">
              <span class="icon-down_line"></span>
              <select class="" name="" id="">
                <option value="option">Seleccione su género</option>
                <option value="option">Masculino</option>
                <option value="option">Femenino</option>
              </select>
            </div>
        </div>
<!-- Numero celular -->
      <p class="block__content__cont-tag ubuntu medium">
            Numero celular:
        </p>
        <div class="form_login ">
            <label class="item item-input input_login">

                <input type="number" placeholder="*************">

            </label>
        </div>

      <h3 class="inf_ca">Actividad agropecuaria</h3>
<!-- Lugar de produccion -->
      <p class="block__content__cont-tag ubuntu medium">
            Lugar de Produccion:
        </p>
        <div class="form_login ">
            <label class="item item-input input_login">

                <input type="text" placeholder=" ">

            </label>
        </div>
<!-- Pertenece a una sociacion -->
      <p class="block__content__cont-tag ubuntu medium">
            Pertenece a una sociacion:
        </p>
        <div class="forms_select">
              <div class="select">
                <span class="icon-down_line"></span>
                <select class="" name="" id="">
                  <option value="option">SI / NO</option>
                  <option value="option">SI</option>
                  <option value="option">NO</option>
                </select>
              </div>
        </div>
<!-- agricolar -->
      <p class="block__content__cont-tag ubuntu medium">
            Actividad Agricola:
        </p>
        <div class="forms_select">
          <div class="select">
            <span class="icon-down_line"></span>
            <select class="" name="" id="">
              <option value="option">Seleccione su Actividad</option>
              <option value="option">Actividad 1 </option>
              <option value="option">Actividad 2</option>
            </select>
          </div>
        </div>
<!-- Categoria del producto -->
      <p class="block__content__cont-tag ubuntu medium">
            Categoria del producto:
        </p>
        <div class="forms_select">
          <div class="select">
            <span class="icon-down_line"></span>
            <select class="" name="" id="">
              <option value="option">Seleccione una categoria</option>
              <option value="option">Categoria 1 </option>
              <option value="option">Categoria 2</option>
            </select>
          </div>
        </div>
<!-- produccionr -->
      <p class="block__content__cont-tag ubuntu medium">
            Produccion principal:
        </p>
        <div class="form_login ">
            <label class="item item-input input_login">

                <input type="text" placeholder=" ">

            </label>
        </div>
<!-- superficie -->
      <p class="block__content__cont-tag ubuntu medium">
            Superficie cultivada:
        </p>
        <div class="form_login ">
            <label class="item item-input input_login">

                <input type="text" placeholder=" ">

            </label>
        </div>

        
          <!-- <button class="button button-block button-balanced" type="submit" >Guardar</button> -->
          <a href="#/home">
           <button class="btn btn-primary btn-green">Guardar</button>
          </a>

      </div>
    </form>
  </ion-content>
</ion-view>

