<ion-view title="Cuenta" >
	<!-- Header de login -->
	<div class=" bar-header ">
		 <header class="header agroinsumos">
	          <div class="branding center" align="center">
	            <img src="img/logo_insumos.png" height="42" width="126">
	          </div>
	      </header>
	</div>
 
	<ion-content class="fontFromResult">

		<div class="contentLoginImage">
			<div class="startImageLogin"></div>	
		</div>
		
		<div class="paddingContent">

			<div class="textLogin textColorLogin"><b>Ha ingresado exitosamente</b></div>
			<br>
		 
			<a href="#/home" class="button-balanced button button-block">Continuar</a>
						
		</div>

		<div class="lineResult"></div> 

		<div class="paddingContent">
		
			<div class="textLogin textColorLogin">
				Ayúdenos a mejorar su expreriencia en el ecosistema Agronet completando la información de su perfil
			</div>	
			<br>
			<a href="#/tab/opciones" class="button button-block button-clear button-color-green">
				<b style="color:green;">Completar perfil</b>
			</a>
		</div>		

	</ion-content>
</ion-view>