<ion-view view-title="Mi Perfil s" hide-back-button="false">
<div class="bar-header actionbar">
   <header class="header agroinsumos">
      <div class="internal-title__header with-scroll">
          <a href="#/home">
            <div class="go-back">
              <span class="go-back__icon">Regresar</span>
            </div>
          </a>
          <div class="add-favorite">
            <span class="add-favorite__icon">Añadir a favoritos</span>
          </div>
      </div>
    </header>
</div>
  <ion-content class="gris" ng-controller="insumoCtrl">
	<div class="internal-title__body int_insumo">
	    <figure class="internal-title__body__prof">
	      <img src="img/Icon_fertilizante.png">
	      <span>{{detalleInsumo.CategoriaId}}</span>
	    </figure>
	    <div class="title_insumo">
	      <h1 class="">{{detalleInsumo.NombreInsumo}}</h1>
		  <p class="">
		     Ultima actualización el 27 de octubre de 2015
		  </p>
	    </div>
	</div>

	<div class="articles__third">
            <header class="articles__third__header">
              <span class="articles__third__header__average">
                Costo promedio en:
              </span>
              <div class="cont-select">
                <div class="select">
                  <span class="icon-down_line"></span>
                  <select>
                    <option>Tunja</option>
                    <option>Tenjo</option>
                  </select>
                </div>
              </div>
              <div class="articles__third__header__cost">
                <h1 class="main">
                  {{detalleInsumo.CostoPromdedioMunicipal}}
                </h1>
                <p class="national">
                  <span>Costo nacional</span>
                  <span>$83.000</span>
                </p>
                <p class="departmental">
                  <span>Costo departamental</span>
                  <span>{{detalleInsumo.CostoDepartamental}}</span>
                </p>
              </div>
              <a href="#/addprecio">
              <button class="btn btn-primary btn-green btn-plus-a">Añadir precio</button>
          	  </a>
            </header>

            <!-- listas desplegables -->
            
            <ion-list class="dropdown-section">
            <div ng-repeat="group in groups">
                <ion-item class="item-stable dropdown__title"  ng-click="toggleGroup(group)"
                   ng-class="{active: isGroupShown(group)}">

                    <i class="icon" ng-class="isGroupShown(group) ? 'ion-minus' : 'ion-plus'"></i>             
                    {{group.name}}
                </ion-item>
                <ion-item class="item-accordion"
                          ng-repeat="item in group.items"
                          ng-show="isGroupShown(group)">
                    {{item}}
                </ion-item>
              </div>
            </ion-list>

  


       <!--  <div class="dropdown-section">
              <ul class="dropdown">
                <li class="dropdown__tap"> 
                  <div class="dropdown__title">
                    Marcas en el mercado
                  </div>
                </li>
                <li class="dropdown__tap">
                  <div class="dropdown__title">Puntos de venta </div>
                </li>
              </ul>
            </div> -->





            <footer class="articles__first__footer">
              <p class="articles__first__footer__util small">
                ¿Le fue util esta información?
              </p>
              <a href="#/home" ng-click="yea(1)">
                <button class="articles__first__footer__yes">Si</button>
              </a>
              <a href="#/home" ng-click="yea(2)">
               <button class="articles__first__footer__no">No</button>
              </a>
          </br>
              <button class="btn btn-medium btn-orange articles__first__footer__request-info">Solicitar mas informacion</button>
              <a href="#" class="anchor">
                Compartir<span class="anchor__right icon-share"></span>
              </a>
            </footer>
          </div>
  </ion-content>
</ion-view>

