<ion-view view-title="Mi Perfil s" hide-back-button="false">

  <ion-content class="gris">

  <div class="cabecera" align="center">
      <img src="img/perfil.png" height="32" width="32">
      <label class="text_img">Añadir imagen de perfil</label>
  </div>

    <form >
      <div class="list">
      
        <h3 class="inf_ca">Informacion</h3>
<!-- Nombre-->
        <p class="block__content__cont-tag ubuntu medium">
            Nombre:
        </p>
        <div class="form_login ">
          <div class="abajo">
            <label class="item item-input input_login">

                <input type="text" placeholder="Ingrese su nombre completo">

            </label>
          </div>
        </div>
<!-- correo -->
        <p class="block__content__cont-tag ubuntu medium">
            Correo electronico:
        </p>
        <div class="form_login ">
          <div class="abajo">
            <label class="item item-input input_login">

                <input type="email" placeholder="email@correo.com">

            </label>
          </div>
        </div>
<!-- documento de identidad -->
        <p class="block__content__cont-tag ubuntu medium">
            Documento de identidad:
        </p>
        <div class="form_login ">
          <div class="abajo">
            <label class="item item-input input_login">

                <input type="number" placeholder="C.C 000000000000">

            </label>
          </div>
        </div>

        <h3 class="inf_ca">Informacion personal</h3>
<!-- nivel educativo -->
      
      <p class="block__content__cont-tag ubuntu medium">
            Nivel educativo:
        </p>
        <div class="form_login ">
          <div class="abajo">
            <div class="select">
              <select class="" name="" id="">
                <option value="option">Seleccione su nivel educativo</option>
                <option value="option">Primaria</option>
                <option value="option">Secundaria</option>
              </select>
            </div>
          </div>
        </div>
<!-- lugar de residencia -->
      <p class="block__content__cont-tag ubuntu medium">
            Lugar de residencia:
        </p>
        <div class="form_login ">
          <div class="abajo">
            <label class="item item-input input_login">

                <input type="text" placeholder=" ">

            </label>
          </div>
        </div>
<!-- genero -->
      <p class="block__content__cont-tag ubuntu medium">
            Género:
        </p>
        <div class="form_login ">
          <div class="abajo">
            <div class="select">
              <select class="" name="" id="">
                <option value="option">Seleccione su género</option>
                <option value="option">Masculino</option>
                <option value="option">Femenino</option>
              </select>
            </div>
          </div>
        </div>
<!-- Numero celular -->
      <p class="block__content__cont-tag ubuntu medium">
            Numero celular:
        </p>
        <div class="form_login ">
          <div class="abajo">
            <label class="item item-input input_login">

                <input type="number" placeholder="*************">

            </label>
          </div>
        </div>

      <h3 class="inf_ca">Actividad agropecuaria</h3>
<!-- Lugar de produccion -->
      <p class="block__content__cont-tag ubuntu medium">
            Lugar de Produccion:
        </p>
        <div class="form_login ">
          <div class="abajo">
            <label class="item item-input input_login">

                <input type="text" placeholder=" ">

            </label>
          </div>
        </div>
<!-- Pertenece a una sociacion -->
      <p class="block__content__cont-tag ubuntu medium">
            Pertenece a una sociacion:
        </p>
        <div class="form_login ">
          <div class="abajo">

              <div class="select">
                <select class="" name="" id="">
                  <option value="option">SI / NO</option>
                  <option value="option">SI</option>
                  <option value="option">NO</option>
                </select>
              </div>

          </div>
        </div>
<!-- agricolar -->
      <p class="block__content__cont-tag ubuntu medium">
            Actividad Agricola:
        </p>
        <div class="form_login ">
          <div class="abajo">
            <label class="item item-input input_login">

                <input type="text" placeholder="Seleccione su actividad">

            </label>
          </div>
        </div>
<!-- Categoria del producto -->
      <p class="block__content__cont-tag ubuntu medium">
            Categoria del producto:
        </p>
        <div class="form_login ">
          <div class="abajo">
            <label class="item item-input input_login">

                <input type="text" placeholder="Seleccione una categoria">

            </label>
          </div>
        </div>
<!-- produccionr -->
      <p class="block__content__cont-tag ubuntu medium">
            Produccion principal:
        </p>
        <div class="form_login ">
          <div class="abajo">
            <label class="item item-input input_login">

                <input type="text" placeholder=" ">

            </label>
          </div>
        </div>
<!-- superficie -->
      <p class="block__content__cont-tag ubuntu medium">
            Superficie cultivada:
        </p>
        <div class="form_login ">
          <div class="abajo">
            <label class="item item-input input_login">

                <input type="text" placeholder=" ">

            </label>
          </div>
        </div>

        
          <!-- <button class="button button-block button-balanced" type="submit" >Guardar</button> -->
          <button class="btn btn-primary btn-green">Guardar</button>
       

      </div>
    </form>
  </ion-content>
</ion-view>

