<ion-view view-title="Mi Perfil o" hide-back-button="false">
  <ion-content>
  	<p >
        De acuerdo a si actividad agricola </br>estas asociaciones le podrian interesar
    </p>

   <ul class="dropdown">
      <li class="dropdown__tap open"> 
        <div class="dropdown__title bold">
         
        </div>
        <div class="dropdown__content">
          <div class="text-block">
            <span class="text-bold">Asopapa</span>
            <div class="text-small">30 miembros</div>
          </div>  
          <div class="text-block">
            <div class="text-small-bold"><span class="icon-place"></span>Tunja, Boyacá. A3.5 kms de distancia</div>
          </div>   
          <hr>
          <div class="text-block">
            <span class="text-bold">Asopapa</span>
            <div class="text-small">30 miembros</div>
          </div>  
          <div class="text-block">
            <div class="text-small-bold"><span class="icon-place"></span>Tunja, Boyacá. A3.5 kms de distancia</div>
          </div> 
          <hr>
          <div class="text-block">
            <span class="text-bold">Asopapa</span>
            <div class="text-small">30 miembros</div>
          </div>  
          <div class="text-block">
            <div class="text-small-bold"><span class="icon-place"></span>Tunja, Boyacá. A3.5 kms de distancia</div>
          </div> 
        </div>
      </li>
    </ul>
  </ion-content>
</ion-view>
