<ion-view view-title="" hide-back-button="false">
<!-- Header de login -->
	<div class=" bar-header ">
		 <header class="header agroinsumos">
	          <div class="branding center" align="center">
	            <img src="img/logo_insumos.png" height="42" width="126">
	          </div>
	      </header>
	</div>
	<!-- contenido de login -->
  <ion-content>
  <div align="center" class="p_bar">
  	<p class="title_loginn">
        Cree una cuenta única para </br> AgroTeConecta,Agronet, AgroInsumos y </br>Agronegocios en un solo paso:
    </p>
  </div>

  	<p class="block__content__cont-tag ubuntu medium">
        Ingrese su correo electronico:
    </p>
  <div class="form_login ">

    <div class="abajo">
    <label class="item item-input input_login">

        <input type="text" placeholder="Escriba su correo electronico">

    </label>
    </div>
  </div>

    <p class="block__content__cont-tag ubuntu medium">
        Cree su contrasena:
    </p>
  <div class="form_login ">

    <div class="abajo">
    <label class="item item-input input_login">

        <input type="text" placeholder="Minimo 6 digitos">

    </label>
    </div>
  </div>

  <a href="#/home">
    <button class="btn btn-primary btn-green">Ingresar</button>
  </a>

  <div align="center" >
    
        Si ya es usuario de Agronet o de alguna de sus </br> 
        aplícaciones ingrese con su cuenta de usuario.
   
  </div>
  
  <button class="btn btn-outline btn-green">
    <strong>Ya tengo cuenta</strong>
  </button>

  </ion-content>
</ion-view>