<ion-view view-title="" hide-back-button="false">
<!-- Header de login -->
	<div class=" bar-header ">
		 <header class="header agroinsumos">
	          <div class="branding center" align="center">
	            <img src="img/logo_insumos.png" height="42" width="126">
	          </div>
	      </header>
	</div>
	<!-- contenido de login -->
  <ion-content>
  <div align="center" class="p_bar">
  	<p class="title_loginn">
        Cree una cuenta única para </br> AgroTeConecta,Agronet, AgroInsumos y </br>Agronegocios en un solo paso:
    </p>
  </div>

  <div class="form_login ">
  	<label class="item item-input">
  <span class="input-label">Ingrese su correo electronico</span>
  <input type="email">
</label>
  </div>

  </ion-content>
</ion-view>