<ion-view view-title="Mi Perfil s" hide-back-button="false">
<div class="bar-header actionbar">
   <header class="header agroinsumos">
          <h1>Añadir precio</h1>
     </header>
</div>
  <ion-content class="gris">
    <form class="addprecio">
      <div class="list">
      
<!-- categoria-->
        <p class="block__content__cont-tag ubuntu medium">
            Categoria:
        </p>
        <div class="forms_select">
            <div class="select">
              <span class="icon-down_line"></span>
              <select class="" name="" id="">
                <option  class="op_orange "value="option">Seleccione su categoria</option>
                <option  class="op_orange "value="option">categoria 1</option>
                <option  class="op_orange "value="option">categoria 2</option>
              </select>
            </div>
        </div>
<!-- Producto -->

        <p class="block__content__cont-tag ubuntu medium">
            Producto:
        </p>
        <div class="forms_select">
            <div class="select">
              <span class="icon-down_line"></span>
              <select class="" name="" id="">
                <option  class="op_orange "value="option">Seleccione una clase de producto</option>
                <option  class="op_orange "value="option">categoria 1</option>
                <option  class="op_orange "value="option">categoria 2</option>
              </select>
            </div>
        </div>
<!-- Presentacion -->
        <p class="block__content__cont-tag ubuntu medium">
            Presentación:
        </p>
        <div class="forms_select">
            <div class="select">
              <span class="icon-down_line"></span>
              <select class="op_orange" name="" id="">
                <option  class="op_orange "value="option">Seleccione presentación</option>
                <option  class="op_orange "value="option">Presentación 1</option>
                <option  class="op_orange "value="option">Presentación 2</option>
              </select>
            </div>
        </div>
<!-- Lugar -->
      
        <p class="block__content__cont-tag ubuntu medium">
            Lugar:
        </p>
        <div class="forms_select">
            <div class="select">
              <select class="" name="" id="">
                <option  class="op_orange "value="option">Seleccione su nivel educativo</option>
                <option  class="op_orange "value="option">Primaria</option>
                <option  class="op_orange "value="option">Secundaria</option>
              </select>
            </div>
        </div>
<!-- nombre del punto de venta -->
      <p class="block__content__cont-tag ubuntu medium">
            Nombre del punto de venta:
        </p>
        <div class="form_login ">
            <label class="item item-input input_login">

                <input type="text" placeholder=" ">

            </label>
        </div>
<!-- marca -->
      <p class="block__content__cont-tag ubuntu medium">
            Marca:
        </p>
        <div class="form_login ">
            <label class="item item-input input_login">

                <input type="text" placeholder=" ">

            </label>
        </div>
<!-- Precio -->
      <p class="block__content__cont-tag ubuntu medium">
            Precio:
        </p>
        <div class="form_login ">
            <label class="item item-input input_login">

                <input type="text" placeholder="$ ">

            </label>
        </div>

<!-- Comentarios -->
      <p class="block__content__cont-tag ubuntu medium">
            Comentarios:
        </p>

        <div class="forms_select">
          <textarea class="text-area" rows="4" cols="40"></textarea>
        </div>

        <a href="#/confirmar">
          <button class="btn btn-primary btn-green">Añadir</button>
        </a>
      </div>
    </form>
  </ion-content>
</ion-view>

