<ion-view view-title="Mi Perfil s" hide-back-button="false">
<div class="bar-header actionbar">
   <header class="header agroinsumos">
          <h1>Añadir precio 2</h1>
     </header>
</div>
  <ion-content class="gris confirmar" >

    <p >
       <strong>Precio añadido</strong>
       <br>
        Muchas gracias po su colaboración, estos </br>son los datos que ha ingresado
    </p>

    <hr>
    
    <figure class="conf_title">
      <img src="/dist/img/Icon_fertilizante.png">
      <span>Fertilizante</span>
    </figure>
    
    <h1>Nombre Producto</h1>
    <h2>$85.000</h2>
  
    <p >
       <strong>Nombre de la marca</strong>
       <br>
        Nombre del punto de venta </br>Tenjo, Cundinamarca
    </p>


  </ion-content>
</ion-view>

